:root {
  --icon-size: 40px; /* size of the svg/button in nav-theme */
  --theme-spacing: 10px; /* extra spacing around theme toggle */
}

header {
  border-bottom: 1px dotted var(--surface2);
  color: var(--text1);
}

nav {
  display: flex;
  width: 100%;
}

.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-theme,
.nav-spacer {
  width: calc(var(--icon-size) + var(--theme-spacing));
  height: calc(var(--icon-size) + var(--theme-spacing));
  margin: 0 calc(var(--icon-size) - var(--theme-spacing));
}
.color-scheme-toggle {
  width: var(--icon-size);
  height: var(--icon-size);
}

.nav-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px dotted transparent; /* prevent height jitter on hover */
}
.nav-theme:hover {
  background: var(--surface2);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom: 2px dotted var(--brand) !important;
}

.nav-brand {
  display: flex;
  flex-grow: 1;
  border-bottom: 2px dotted transparent; /* prevent height jitter on hover */
  white-space: nowrap; /* keep text and icon together */
  font-size: larger;
  width: 100%;
  height: 100%;
}
.nav-brand:hover {
  background: var(--surface2);
  border-bottom: 2px dotted var(--brand) !important;
  cursor: pointer;
}

.nav-brand a {
  display: block;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none; /* don't look like link text */
  color: inherit; /* don't change color on visited */
}

.nav-menu {
  display: flex;
  flex-grow: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  border-bottom: 2px dotted transparent; /* prevent height jitter on hover */
  font-size: large;
}

.nav-item a {
  display: block;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

.nav-item:hover {
  background-color: var(--surface2);
  border-bottom: 2px solid var(--shiny);
  cursor: pointer;
}

.nav-item[data-active] {
  background-color: var(--surface3);
  border-bottom: 2px solid var(--brand);
  cursor: pointer;
}

/*
 * might be a little too cutesy, but the point is to
 * 'disable' most highlighting for the active nav-item
 * when other nav items are being hovered
 */
nav:hover .nav-item[data-active] {
  background-color: transparent;
  border-bottom: 2px solid var(--brand);
}

.nav-item-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav-text {
  margin-left: 0.5rem;
}

.nav-icon,
.nav-text {
  line-height: 1; /* center both icon and text vertically */
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  .nav-top {
    width: 100%;
    cursor: pointer;
    justify-content: flex-start;
  }

  .nav-menu {
    flex-direction: column;
  }

  .nav-item {
    padding: 20px;
  }

  .nav-brand {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  /* prevent from growing, ensure fixed width based on content */
  .nav-theme,
  .nav-spacer {
    flex: 0 0 auto;
  }
}
