:root {
  --icon-size: 40px; /* size of the svg/button in nav-theme */
  --theme-spacing: 10px; /* extra spacing around theme toggle */
}

nav {
  display: flex;
  width: 100%;
}

.nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-theme,
.nav-spacer {
  width: calc(var(--icon-size) + var(--theme-spacing));
  height: calc(var(--icon-size) + var(--theme-spacing));
  margin: 0 calc(var(--icon-size) - var(--theme-spacing));
}
.color-scheme-toggle {
  width: var(--icon-size);
  height: var(--icon-size);
}

.nav-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nav-brand {
  white-space: nowrap; /* keep text and icon together */
  font-size: larger;
}

.nav-brand {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  border-bottom: 2px dotted transparent; /* prevent height jitter on hover */
}
.nav-brand:hover {
  background: #232323;
  border-bottom: 2px dotted deepskyblue !important;
  cursor: pointer;
}

.nav-brand a {
  text-decoration: none; /* don't look like link text */
  color: inherit; /* don't change color on visited */
}

.nav-menu {
  display: flex;
  flex-grow: 1;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  text-align: center;
  border-bottom: 2px dotted transparent; /* prevent height jitter on hover */
}

.nav-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
  color: inherit;
}

.nav-item:hover {
  background-color: #121212;
  border-bottom: 2px solid skyblue;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  .nav-top {
    width: 100%;
    cursor: pointer;
    justify-content: flex-start;
  }

  .nav-menu {
    flex-direction: column;
  }

  .nav-brand {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }

  /* prevent from growing, ensure fixed width based on content */
  .nav-theme,
  .nav-spacer {
    flex: 0 0 auto;
  }
}
