/* NOTE
 * While this is more convenient than a `<link>` for each file
 * this file has to be parsed before requests can be made for
 * each `@import` file. Also caching behavior may be impacted.
 * See: https://developer.mozilla.org/en-US/docs/Web/CSS/@import
 * In reality, neither issue is a very big deal for this site.
 */
@import url("colors.css");
@import url("icons.css");
@import url("patterns.css");
@import url("styles.css");
@import url("theme.css");
@import url("header.css");
@import url("footer.css");
